/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    text-align: center;
}

.head .small{
    display: none;
}
.head ul{
    display: flex;
    flex-wrap: wrap;
}
.head a{
    display: block;
    background: #3399FF;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.head a:hover{
    display: block;
    background: orange;
    color: #fff;
}
.main{
    display: flex;
    justify-content: space-between;
}
.news{
    width:75%;
    border:3px black solid;
    padding: 8px;
}
.news h2{
    font-size: 20px;
    padding-bottom: 32px;
    font-weight: bold;
}
.news p{
    line-height: 1.5;
    margin-bottom: 32px;
}
.banner{
    padding: 5px;
    width: 15%;
    border:3px black solid;
}
.banner img{
    margin-bottom: 20px;
    /* max-width: 100%; */
}
.footer{
    text-align: center;
    padding: 10px;
}

@media(max-width:768px) {
    .head{
        flex-direction: column;
        align-items: center;
    }
    .head img{
        display: none;
        
    }
    .head .small{
        display: block;
        margin-bottom: 20px;
    }
    .head li{
        width: 50%;
        margin: 0 auto 10px  auto;
    }
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .news{
        width: 100%;
        margin-bottom: 20px;
    }
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner img{
        max-width: 100%;
    }
}